{
  "address": "${ORIGIN_IP}",
  "port": 443,
  "inboundTag": "${REALITY_INBOUND_TAG}",
  "network": "xhttp",
  "security": "reality",
  "serverName": "${REALITY_PRIMARY_SERVER_NAME}",
  "password": "${REALITY_PASSWORD}",
  "shortId": "${REALITY_PRIMARY_SHORT_ID}",
  "path": "${REALITY_XHTTP_PATH}",
  "mode": "auto",
  "fingerprint": "chrome"
}
