{
  "tag": "${BEGET_XRAY_INBOUND_TAG}",
  "port": ${BEGET_XRAY_XHTTP_PORT},
  "listen": "${BEGET_XRAY_LISTEN_IP}",
  "protocol": "vless",
  "settings": {
    "clients": [],
    "decryption": "none"
  },
  "sniffing": {
    "enabled": true,
    "routeOnly": false,
    "destOverride": [
      "http",
      "tls",
      "quic",
      "fakedns"
    ],
    "metadataOnly": false
  },
  "streamSettings": {
    "network": "xhttp",
    "security": "none",
    "sockopt": {
      "trustedXForwardedFor": [
        "X-Real-IP",
        "X-Forwarded-For"
      ]
    },
    "xhttpSettings": {
      "host": "${BEGET_ORIGIN_DOMAIN}",
      "mode": "packet-up",
      "path": "${BEGET_XHTTP_PATH}",
      "extra": {
        "sessionIdPlacement": "query",
        "sessionIdKey": "x_session",
        "seqPlacement": "query",
        "seqKey": "x_seq",
        "xPaddingKey": "_dc",
        "xPaddingHeader": "X-Cache",
        "xPaddingMethod": "tokenish",
        "xPaddingObfsMode": true,
        "xPaddingPlacement": "header",
        "uplinkHTTPMethod": "GET"
      }
    }
  }
}
